
body
{
   background-color: rgb(24, 224, 174) ; 
   color: yellow;
}

.heding
{
    width: 80%;
    font-size: medium;
}

#camera
{
    border: 2px solid black;
    width: 350px;
    height: 300px;
}

.name_of_objects,#result_object_name,#result_object_accuracy
{
 color: blue;
}